[Desktop Entry]
Encoding=UTF-8
Name=Zetcoin
Comment=Zetcoin P2P Cryptocurrency
Comment[fr]=Zetcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Zetcoin, eşten eşe kriptografik sanal para birimi
Exec=zetcoin-qt %u
Terminal=false
Type=Application
Icon=zetcoin128
MimeType=x-scheme-handler/zetcoin;
Categories=Office;Finance;
