[Unit]
Description=Zetcoin's distributed currency daemon
After=network.target

[Service]
User=zetcoin
Group=zetcoin

Type=forking
PIDFile=/var/lib/zetcoind/zetcoind.pid
ExecStart=/usr/bin/zetcoind -daemon -pid=/var/lib/zetcoind/zetcoind.pid \
-conf=/etc/zetcoin/zetcoin.conf -datadir=/var/lib/zetcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
